
:root{
  --primary-color: #141414;
}

.container-login{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.container-login .form-login{
background-color: #ffffff;
width: 370px;
height: 270px;
padding: 32px 0px 0px 0px;
border: none;
border-radius: 10px;
}

.container-login .form-login .login{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  
}


.container-login .form-login .login .user-login {
text-align: center;
text-transform: uppercase;
color: #141414;
margin: 7px 0px 0px 0px;
}

.container-login .form-login .login .user-login .icon-user{
color: var(--primary-color);
font-size: 1.7rem;
   
}

.container-login .form-login .login .personal-login{
margin: 20px 0px 0px 0px;
}

.container-login .form-login .login .personal-login label{
color: var(--primary-color);
display: block;
margin: 0px 0px 5px 0px;
font-size: 0.8rem;
}

.container-login .form-login .login .personal-login input{
width: 230px;
height: 25px;
border: 1px solid  var(--primary-color);
border-radius: 5px;
outline: none;
padding: 0px 0px 0px 5px;

}

.container-login .form-login .login .button-login{
margin: 20px 0px 0px 0px; 
}

.container-login .form-login .login .button-login button{
padding: 8px 25px 8px 25px;
background-color: #0be881b9;
color: #ffffff9f;
border: none;
font-size: 1rem;
border-radius: 6px;
cursor: pointer;
transition: 400ms;
font-weight: bold;
text-transform: uppercase;
}

.container-login .form-login .login .button-login button:hover{
padding: 8px 35px 8px 35px;
background-color: #0be881;
color: #ffffff;
border: none;
font-size: 1rem;
border-radius: 6px;
cursor: pointer;
transition: 400ms;
  }