
:root{
  --primary-color: #141414;
}

.container-register{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 630px;
}

.container-register .form-register{
background-color: #ffffff;
width: 370px;
height: 400px;
padding: 32px 0px 0px 0px;
border: none;
border-radius: 10px;
}

.container-register .form-register .register{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
  
}


.container-register .form-register .register .user-register {
text-align: center;
text-transform: uppercase;
color: #141414;
margin: 7px 0px 0px 0px;
}

.container-register .form-register .register .user-register .icon-user{
color: var(--primary-color);
font-size: 1.7rem;
   
}

.container-register .form-register .register .personal-register{
margin: 20px 0px 0px 0px;
}

.container-register .form-register .register .personal-register label{
color: var(--primary-color);
display: block;
margin: 0px 0px 5px 0px;
font-size: 0.8rem;
}

.container-register .form-register .register .personal-register input{
width: 230px;
height: 25px;
border: 1px solid  var(--primary-color);
border-radius: 5px;
outline: none;
padding: 0px 0px 0px 5px;

}

.container-register .form-register .register .button-register{
margin: 20px 0px 0px 0px; 
}

.container-register .form-register .register .button-register button{
padding: 8px 25px 8px 25px;
background-color: #0be881b9;
color: #ffffff9f;
border: none;
font-size: 1rem;
border-radius: 6px;
cursor: pointer;
transition: 400ms;
font-weight: bold;
text-transform: uppercase;
}

.container-register .form-register .register .button-register button:hover{
padding: 8px 35px 8px 35px;
background-color: #0be881;
color: #ffffff;
border: none;
font-size: 1rem;
border-radius: 6px;
cursor: pointer;
transition: 400ms;
  }